.paper {
  min-width: 5rem;
  box-shadow: 0px 2px 0.2rem 0.1rem rgba(109, 109, 109, 0.119),
    0px 2px 0.2rem 0.1rem rgba(69, 67, 67, 0.104),
    0px 2px 0.2rem 0.1rem rgba(109, 109, 109, 0.162);
  position: fixed;
  z-index: 5;
  background-color: white;
  border-radius: 0.2rem;
  transform: translateX(3%);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  font-family: Poppins;
  /* padding: 0 0.5rem; */
  font-size: 0.9rem;
  /* overflow: hidden; */
}

.top-triangle {
  position: absolute;
  background-color: transparent;
  width: 0.9rem;
  height: 0.9rem;
  z-index: -1;
  top: 0.1rem;
  right: 0.3rem;
  background-color: transparent;
  transform: translateY(-50%) rotate(45deg);
  box-shadow: 0px 2px 0.2rem 0.1rem rgba(109, 109, 109, 0.119),
    0px 2px 0.2rem 0.1rem rgba(69, 67, 67, 0.104),
    0px 2px 0.2rem 0.1rem rgba(109, 109, 109, 0.162);
}
.list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 9.5rem;
  background-color: white;
}
.list-content .row-list {
  height: 2.5rem;
  display: flex;
  font-size: 0.89rem;
  cursor: pointer;
  background-color: white;
  transition: all 0.1s ease-in-out;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0.5rem;
  align-items: center;
}
.row-list:hover {
  background-color: var(--theme-one);
  color: white;
}
.active-paper {
  color: var(--theme-one) !important;
}

.parameter-task-bar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem 0.2rem;
  width: 80%;
  flex-direction: column;
  border-bottom: 1px solid rgba(186, 186, 186, 0.46);
  margin-bottom: 0.6rem;
}

.date-task-paper {
  font-family: Poppins;
  font-size: 0.8rem;
  align-items: center;
  display: flex;
  margin-bottom: 0.3rem;
}
.date-task-paper input {
  border: none;
  font-size: 0.8rem;
  color: grey;
  margin-right: 0.5rem;
  margin-bottom: 1px;
  font-family: Poppins;
  outline: none;
}
.date-task-paper label {
  width: 3.2rem;
  display: flex;
  margin: 0;
}

.paper-main {
  max-height: 90%;
  box-sizing: border-box;
  width: 100%;
}
#task-specification {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: white;
  width: 23rem;
  opacity: 1;
  z-index: 6;
  border: 1px solid rgba(110, 112, 110, 0.384);
  min-height: 10rem;
  border-radius: 0.3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.7rem;
  transform: translateX(-50%) translateY(10%);
}
input[type="file"] {
  display: none;
}
.title-specification {
  font-family: Poppins;
  font-size: 1.7rem;
  margin: 0.5rem 0rem 1rem 0.5rem;
}
.input-spec {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 90%;
  font-family: Poppins;
  margin: auto;
  margin-bottom: 1.4rem;
}
.label-spec {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.input-spec select {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.555);
  padding: 0.5rem 0.6rem;
  outline: none;
  width: 100%;
  font-family: Poppins;
}
.input-spec-bulls {
  display: flex;
  box-sizing: border-box;
  width: 90%;
  flex-direction: column;
  font-family: Poppins;
  margin: auto;
  margin-bottom: 0.5rem;
}
.bulls-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}
.input-spec-bulls .bull-color {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.bull-color::before {
  content: "";
  right: -15%;
  position: absolute;
  top: -15%;
  width: 0;
  height: 0;
  transition: all 0.2s ease-in-out;
}
.selected-bull::before {
  width: 1rem;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  height: 1rem;
  background-color: var(--theme-two);
}

.bull-color:hover {
  transform: scale(1.1);
}
.pinkMe {
  background-color: rgb(252, 116, 116);
}

.blueMe {
  background-color: rgb(0, 169, 202);
}
.orangeMe {
  background-color: rgb(255, 191, 96);
}
.greenMe {
  background-color: rgb(107, 250, 114);
}
.purpleMe {
  background-color: rgb(218, 83, 255);
}
.footer-specification {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.button-btn-spec {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-left: auto;
  border-radius: 1.2rem;
  color: white;
  margin-right: 0.5rem;
  font-family: Poppins;
  padding: 0.4rem 1.1rem;
  transition: all 0.2s ease-in-out;
  width: auto;
  background-color: var(--theme-one);
}
.button-btn-spec:hover {
  background-color: var(--theme-one-hovered);
}
@media screen and (max-width: 768px) {
  .date-task-paper input {
    font-size: 0.7rem;
  }
  .date-task-paper label {
    width: 2.8rem;
    font-size: 0.8rem;
  }
}
