.task-container {
  width: 19.5rem;
  box-sizing: border-box;
  padding: 0.7rem 0.4rem;
  min-height: 9rem;
  position: relative;
  align-self: center;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 0.2rem 0rem rgba(128, 128, 128, 0.484);
  transition: all 0.2s ease-in-out;
  margin-right: 3rem;
  margin-left: 0.3rem;
  margin-bottom: 3rem;
  align-self: center;
  overflow: hidden;
  position: relative;
}
.task-container::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 6px;
  transition: all 0.2s ease-in-out;
  bottom: -4px;
  left: 0;
  /* transform: rotate(45deg); */
  border-radius: 1rem;
}

.task-container:hover::before {
  background-color: #d8f020d5;
  width: 100%;
  height: 6px;
  /* width: 23rem; */
  /* min-height: 30rem; */
}

.header-task-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 0.3rem;
  justify-content: space-between;
}
.title-task {
  font-size: 1.2rem;
  padding-left: 0.3rem;

  color: rgb(113, 113, 113);
}
.category-task {
  background-color: rgb(86, 168, 176);
  color: white;
  border-radius: 0.4rem;
  padding: 0.05rem 0.3rem;
  font-size: 0.88rem;
  display: flex;
  font-family: Dancing;
  text-align: center;
  max-width: 6rem;
  justify-content: center;
  align-items: center;
}
.body-task {
  color: grey;
  font-size: 0.7rem;
  height: 3.8rem;
  padding: 0.4rem 0.3rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2.5rem;
}

.footer-task {
  width: 97%;
  height: 2.3rem;
  position: absolute;
  bottom: 0.56rem;
  margin-top: auto;
  clear: both;
  justify-content: space-between;
  display: flex;
  padding: 0 0.3rem;
  align-items: flex-end;
  box-sizing: border-box;
}

.date-task {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon-task {
  color: var(--theme-two);
  font-size: 0.96rem;
  margin-right: 0.3rem;
}

.text-date {
  color: rgba(128, 128, 128, 1);
  font-size: 0.75rem;
}

.progression-task {
  width: 2.6rem;
  margin-bottom: -0.3rem;
  height: 2.6rem;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(128, 128, 128, 0.418);
}

.text-progress {
  color: grey;
  font-size: 0.72rem;
}
/* /////ADDING TASK////////// */
#paper-textarea {
  position: fixed;
  right: 10%;
  border-radius: 0.3rem 0.3rem 0 0;
  bottom: 0;
  width: 30rem;
  display: flex;
  flex-direction: column;
  z-index: 2;
  height: 35rem;
  padding: 0.5rem 0.3rem 0.3rem 0.3rem;
  box-sizing: border-box;
  transition: all 0.45s ease-in-out;
  background-color: white;
  padding-bottom: 4rem;
  transform: translateX(0%) !important;
  /* overflow-x: hidden; */
  /* overflow-y: visible; */
  box-shadow: 0px 0px 0.2rem 0.1rem rgb(191 191 191 / 60%);
}
#closer-paper-textarea {
  width: 2.2rem;
  cursor: pointer;
  height: 2.2rem;
  position: absolute;
  top: 0.2rem;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  right: 0.2rem;
  transform: scale(1);
}
#closer-paper-textarea:hover {
  background-color: rgba(189, 237, 254, 0.304);
}

#closer-paper-textarea::before {
  content: "";
  height: 100%;
  left: 50%;
  max-height: 2rem;
  transition: all 0.2s ease-in-out;
  width: 1px;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.567);
  transform: rotate(-45deg) translateX(-50%);
}
#closer-paper-textarea::after {
  content: "";
  height: 100%;
  transition: all 0.2s ease-in-out;
  max-height: 2rem;
  width: 1px;
  left: 50%;
  top: 0;
  position: absolute;
  background-color: rgba(36, 36, 36, 0.567);
  transform: rotate(45deg) translateX(-50%);
}
.msg-task-title {
  font-family: Poppins;
  outline: none;
  min-height: 2rem;
  resize: none;
  height: 2rem;
  /* background-color: red; */
  width: 90%;
  color: rgb(87, 86, 86);
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
  padding-right: 0;
  border: none;

  border-bottom: 1px solid rgba(186, 186, 186, 0.46);
}
.msg-task-title::placeholder {
  font-size: 1.1rem;
}

.msg-task-descri {
  font-family: Poppins;
  outline: none;
  min-height: 6rem;
  resize: none;
  height: 1rem;
  /* background-color: red; */
  width: 98%;
  font-size: 0.9rem;
  margin: 0 auto;
  border: none;
}
.msg-task-descri::placeholder {
  font-size: 1rem;
}
.bar-paper {
  clear: both;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  box-sizing: border-box;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: flex-end;
  width: 100%;
  align-self: center;
  border-top: 1px solid rgba(128, 128, 128, 0.362);
}
.btn-bar-paper {
  background-color: var(--theme-two);
  color: white;
  display: flex;
  padding: 0rem 0.8rem;
  transition: all 0.2s ease-in-out;
  font-family: Poppins;
  border-radius: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.btn-bar-paper-two {
  background-color: var(--theme-one);
  color: white;
  display: flex;
  padding: 0rem 0.8rem;
  transition: all 0.2s ease-in-out;
  font-family: Poppins;
  border-radius: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.btn-bar-paper:hover {
  background-color: var(--theme-two-hovered);
}
.btn-bar-paper-two:hover {
  background-color: var(--theme-one-hovered);
}
.text-btn-paper {
  font-size: 0.9rem;
  padding: 0.6rem 0;
  transition: all 0.2s ease-in-out;
  margin-right: 0.5rem;
}
.icon-btn-paper {
  font-size: 0.87rem;
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 0;
}
.utils-icon {
  color: rgb(146, 145, 145);
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
  margin: 0 0.5rem;
  display: flex;
  position: relative;
  cursor: pointer;
}
.utils-icon:hover {
  color: rgb(68, 65, 65);
}
#nbr-image-down {
  font-family: Poppins;
  width: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.1rem;
  position: absolute;
  top: -60%;
  left: -60%;
  display: none;
  font-size: 0.68rem;
  background-color: var(--theme-one);
  color: white;
  border-radius: 50%;
}

.paper-main {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}
/* BULLE TASK */
#bulles-task-row {
  position: absolute;
  left: 0;
  bottom: 101%;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  min-height: 2rem;
  display: flex;
  align-items: center;
  max-height: 5rem;
  overflow-y: scroll;
  overflow-x: visible;
  flex-wrap: wrap;
  padding: 0 0.5rem;
}
#bulles-task-row::-webkit-scrollbar {
  display: none;
}
.bulle-task-paper {
  font-family: Poppins;
  background-color: white;
  z-index: 2;
  text-overflow: ellipsis;
  font-family: Poppins;
  margin: 0.2rem 0.2rem;
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.8rem;
  max-width: 5rem;
  transition: all 0.2s ease-in-out;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0px 0px 0.1rem 0rem rgb(66, 66, 66);
}
.bulle-task-paper:hover {
  transform: scale(1.1);
}

/* /////MEDIA QUERY/////////// */

@media screen and (max-width: 968px) {
  .task-container {
    margin: 1.5rem 0.7rem;
  }
  #paper-textarea {
    width: 28rem;
  }
}
@media screen and (max-width: 900px) {
  .container-section {
    flex-direction: column;
  }
  #paper-textarea {
    width: 27rem;
    transform: translateX(0%) !important;
  }
}

@media screen and (max-width: 768px) {
  .task-container {
    margin: 1.5rem auto;
  }
  #paper-textarea {
    width: 98%;
    right: 50%;
    height: 30rem;
    transform: translateX(50%) !important;
  }
  .text-btn-paper {
    font-size: 0.8rem;
  }
  .icon-btn-paper {
    font-size: 0.77rem;
  }
  .bar-paper {
    height: 3rem;
  }
  .msg-task-title {
    min-height: 1.2rem;
    height: 1.2rem;
    font-size: 0.9rem;
    margin: 0 0 1rem 0;
    padding-right: 0;
  }
  .msg-task-descri {
    min-height: 3rem;
    font-size: 0.8rem;
  }
  .msg-task-title::placeholder {
    font-size: 0.9rem;
  }
  .msg-task-descri::placeholder {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 608px) {
  .text-btn-paper {
    font-size: 0.7rem;
  }
  .icon-btn-paper {
    font-size: 0.68rem;
  }
}
